<table>
<tr ng-repeat="d in out">
	<td>{{d.fieldname}}:</td>
	<td zkxinput type="d.fieldtype" source="d.datasource" enumtype="d.enumtype" enumkey="d.enumkey" enumval="d.enumval" myvalue="opv2" action="opv" actionsource="d.fieldtype.op"></td>
	<td>
		<span style="cursor:pointer;font-family:sans-serif;font-size:10px; margin-left:10px; color:gray;" ng-click="remove($index)">X</span>
		<input type="hidden" name="q_field" value="{{d.field}}" />
		<input type="hidden" name="q_field_op" value="{{opv}}" />
		<input type="hidden" name="q_field_value" value="{{opv2}}" />
		{{opv}},{{opv2}}
	</td>
</tr>
</table>